<%- include('./../layouts/header') -%>

<h2>Password Reset!</h2>
<h4>Your request for reseting password is completed, from now you can use your new password to login.</h4>

<%- include('./../layouts/footer') -%>
