<%- include('./../layouts/header') -%>

<h2>We have received to Reset your Password!</h2>
<h4>Please click the link below to reset your password</h4>
<a target="_blank" href="<%= forgotPasswordLink %>"><%= forgotPasswordLink %></a>

<%- include('./../layouts/footer') -%>
