<%- include('./../layouts/header') -%>

<h2>Thank your for Signing Up!</h2>
<h4>Please click on the link below to activate your account</h4>
<a target="_blank" href="<%= activationLink %>"><%= activationLink %></a>

<%- include('./../layouts/footer') -%>
